@function px($px) {
  @return ($px/20)+rem;
}

.mint-swipe {
  .mint-swipe-indicators {
    bottom: px(15);
    width: 100%;
    display: flex;
    justify-content: center;
    .mint-swipe-indicator {
      width: 6px;
      height: 4px;
      border-radius: 8px;
      background: #A5A5A5;
      opacity: 1;
      transition: all .1s;
      &.is-active{
        width: 14px;
        background-color: #B45F1A;
      }
    }
  }
}
.swiper-pagination.swiper-pagination-bullets {
  bottom: px(16) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 4px !important;
    border-radius: 8px !important;
    background: #A5A5A5 !important;
    opacity: 1 !important;
    transition: all .1s !important;
    &.swiper-pagination-bullet-active {
      width: 14px !important;
      background-color: #B45F1A !important;
    }

  }
}
